*{
    margin: 0;
    padding: 0;

}

/* nav, ul, li, main, footer, div, h3{
    border: 1px solid red;
    
    
    
} */

.parts2, .parts3, .part_description,h3{
    margin-bottom: 10px;

}

nav{
    margin-top: 10px;
    background-color: #ffffff;
}
.navigation_list_item{
    padding: 5px 5px;
    text-decoration: none;
    list-style-type: none;
    margin: 5px 0;
    border: 1px solid blue;
    background-color: rgb(200, 200, 200);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.8s;
    border-radius: 10px;
    

    
}
.navigation2_list_item{
    background-color: #222222;
    margin: 5px 0;
    color: rgb(255, 255, 255);
    padding: 10px 5px;
    font-size: 1.3rem;
    text-decoration: none;
    list-style-type: none;

}

img{
    width: 80%;
    align-self: center;
}

.half{
    background-color: aquamarine;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 4px solid red;
}
.container{
    padding: 0 2%;
}

a{
    text-decoration: none;
    color: #333;
}
section a{
    text-decoration: none;
    color: #d6d6d6;
}
.support{
    
    padding: 10px;
    /* border: 2px solid white; */
    
}
.information{
    border: 2px solid white;
    padding: 5px 20px;
    margin: 5px 0;
    color: #d6d6d6;
}
.Dop{
    margin-left: 10px;
}


footer{
    background-color: #333;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

}

@media screen and (max-width: 410px) {
    .Dop{
        display: none;
    }

}

@media screen and (min-width: 410px) and (max-width: 509px){
    .navigation2_list{
        display: flex;
        text-align: center;
        
    }
    .navigation2_list_item{
        width: 33.333%;
    }
    .Dop{
        display: none;
    }
}

@media screen and (min-width: 510px) {
    .navigation2_list{
        display: flex;
        text-align: center;
        
    }
    .navigation2_list_item{
        width: 33.333%;
    }
}

@media screen and (min-width: 510px) and (max-width:768px) {
    .navigation2_list{
        display: flex;
        text-align: center;
        
    }
    .navigation2_list_item{
        width: 33.333%;
    }

   .navigation_list{
    display: flex;
    justify-content: space-around;
    
   }
   .navigation_list_item{
    padding: 10px;
    border-radius: 10px;
   }
}




@media screen and (min-width: 768px) and (max-width:1024px) {
    .navigation2_list{
        display: flex;
        text-align: center;
        
    }
    .navigation2_list_item{
        width: 33.333%;
    }

   .navigation_list{
    display: flex;
    justify-content: space-around;
    
   }
   .navigation_list_item{
    padding: 10px;
    border-radius: 10px;
   }
   .half{
    display: flex;
    margin: 5px;
    max-height: 600px;
    
   
   }
   .parts2{
    display: flex;
   }
   .content{
    padding: 10px;
   
   }
   .parts3{
    display: flex;
    text-align: center;
    align-items: center;
    
    
   }
   .part_content{
    border: 2px solid black;
    margin: 0 5px;
    
   }

}

@media screen and (min-width: 1024px) {
    .navigation2_list{
        display: flex;
        text-align: center;
        
    }
    .navigation2_list_item{
        width: 33.333%;
    }

   .navigation_list{
    display: flex;
    justify-content: space-around;
    
   }
   .navigation_list_item{
    padding: 10px;
    border-radius: 10px;
   }
   .half{
    display: flex;
    margin: 5px;
    max-height: 600px;
    
   
   }
   .parts2{
    display: flex;
   }
   .content{
    padding: 10px;
   
   }
   .parts3{
    display: flex;
    text-align: center;
    align-items: center;
    
    
   }
   .part_content{
    border: 2px solid black;
    margin: 0 5px;
    
   }

   .container{
    max-width: 1030px;
    margin: 0 auto;
   }

}


